@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: url(./images/Landing\ page.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;  
}
.logo{
    font-family: 'Dancing Script', cursive;
    color: #ffff;
    letter-spacing: 3px;
    font-size: 2rem;
    margin-left: 5%;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #56534C;
    height: 6vw;
    opacity: .8;
}

.nav-links{
    display: flex;
    width: 100%;
}
.nav-links ul{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    
}

.nav-links li{
    list-style-type: none;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-family: 'Alegreya', serif;
    font-size: 1.2rem;
    padding: 1rem;
    margin: .5rem 1rem;
    display: block;

}
.nav-links a:hover{
    background-color: rgba(201, 201, 2, 0.623);
}
.toggle_button{
    position: absolute;
    display: none;
    top: 1.4rem;
    right: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    width:1.9rem;
    height: 1.3rem;
}
.toggle_button .bar{
    height: 3px;
    width: 100%;
    background-color: #ffff;
    border-radius: 10px;
}
.icons{
    display: flex;
    margin-right: 10%;
   
}
.icons a i{
    color: #fff;
    padding: 0 1rem;
    display: flex;
    justify-content:center;
    align-items: center; 
   
}
.container{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
     top: 55%;
    left: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); 

}
a{
    text-decoration: none;
}

.main-caption{
    display: block;
    width: 47.81rem;
    margin: 0 auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 8px;
}

.description{
 display: block;
 width: 30%;
 margin: 0 auto;
 margin-top: 2rem;

  
}
.description p {
    color: #FFFFFF;
    opacity: .8;
    font-weight:bold;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.5rem;

}

/* Animation for menu button */
/*
 @keyframes gradient {
    0% {
      background: radial-gradient(circle at center, rgba(201, 201, 2, 0.623) 0%, #fff 0%, #fff 100%);
    }
    25% {
      background: radial-gradient(circle at center, rgba(201, 201, 2, 0.623) 24%, #fff 25%, #fff 100%);
    }
    50% {
      background: radial-gradient(circle at center, rgba(201, 201, 2, 0.623) 49%, #fff 50%, #fff 100%);
    }
    75% {
      background: radial-gradient(circle at center, rgba(201, 201, 2, 0.623) 74%, #fff 75%, #fff 100%);
    }
    100% {
      color: #fff;
      background: radial-gradient(circle at center, rgba(201, 201, 2, 0.623) 99%, #fff 100%, #fff 100%);
    }
  }
  button:active {
    animation: gradient 100ms;
    background: rgba(201, 201, 2, 0.623);
    color: #fff;
    box-shadow: none;
  } 
  */
 button{
    display: block;
    margin: 0 auto;
    width: 10%;
    line-height: 2rem;
    border-radius: 5px;
    background-color: #63625c;
    color: #FFFFFF;
    box-shadow: 0 12px 6px rgb(158, 156, 147,.7);
    text-transform: uppercase;
    font-family:'Playfair Display', serif ;
    cursor: pointer;
    margin-top: 2rem;
    letter-spacing: 2px;
    box-shadow: inset 0 0 0 0 rgba(201, 201, 2, 0.623) ;
    transition: ease-out 0.3s;
}
button:hover{
    box-shadow: inset  300px 0 0 0  rgba(201, 201, 2, 0.623);
}



@media screen and  (max-width:480px) {
    .logo{
        margin-top: 8px;
    }
    .navbar{
        height: 18vw;
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle_button{
        display: flex;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    .nav-links ul{
        width: 100%;
        flex-direction: column;   
        margin-top: 10px;
    }
    .nav-links li a{
        padding: .3rem 1rem; 
    }
    .nav-links li{
        text-align: center;
    }
    .nav-links.active{
        display: flex;
        top: 0;
        height: 50vw;
        background-color: #56534C;
    }
    .container{
        overflow-x: hidden;
        width: 100%;
    }
   .main-caption{
       width: 100%;
       font-size: 2.5rem;
       letter-spacing: 0;
      text-align: center;
   }
   .description{
       width: 60%;
       
   }
   .description p{
       display: block;
       width: 100%;
       margin: 0;
       padding: 0;
       line-height: 1.2rem;
       font-size: 1.2rem;
      margin: 10px 0;
   }
   button{
       width: 35%;
       border-radius: 10px;
   
       
   }

  .icons{
      display: none;
  }
 
  
  
}

@media screen  and (min-width:481px) and (max-width:768px)  {
    .navbar{
        height: 12vw;
        width: 100%;
    }
    .nav-links li a{
        font-size: 1.3rem;
        margin-right: 5px;
    }
    .nav-links{
        width: 100%;
    }
    .icons{
        display: none;
    }
    .container{
        top: 60%;
        
    }
    .main-caption{
        width: 100%;
        letter-spacing: 3px;
    }
    .description{
        width: 50%;
    }
    .description p{
       line-height: 1.7rem;
       text-align: center;
       font-size: 1.5rem ;
        width: 100%;
    }
    button{
        width: 25%;
        line-height: 2.5rem;
        border-radius: 10px;
    }
   
}
 /* 768px do 1150px */
 @media screen and (min-width:768px) and (max-width:1150px)  {
    button{
        width: 15%;
    }
}
