@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
header{
    min-height: 60vw;
    width: 100%;
    background: url(./images/Landing\ page.png);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;  
   
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    
}
.logo{
    font-family: 'Dancing Script', cursive;
    color: #ffff;
    letter-spacing: 3px;
    font-size: 2rem;
    margin-left: 5%;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #56534C;
    height: 6vw;
    opacity: .8;
}

.nav-links{
    display: flex;
    width: 100%;
}
.nav-links ul{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    
}

.nav-links li{
    list-style-type: none;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-family: 'Alegreya', serif;
    font-size: 1.2rem;
    padding: 1rem;
    margin: .5rem 1rem;
    display: block;

}
.nav-links a:hover{
    background-color: rgba(201, 201, 2, 0.623);
}
.toggle_button{
    position: absolute;
    display: none;
    top: 1.4rem;
    right: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    width:1.9rem;
    height: 1.3rem;
}
.toggle_button .bar{
    height: 3px;
    width: 100%;
    background-color: #ffff;
    border-radius: 10px;
}
.icons{
    display: flex;
    margin-right: 10%;
   
}
.icons a i{
    color: #fff;
    padding: 0 1rem;
    display: flex;
    justify-content:center;
    align-items: center; 
   
}
.section-one{
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
     top: 55%;
     left: 55%;
    -ms-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%); 

}
a{
    text-decoration: none;
}

.main-caption{
    display: block;
    width: 47.81rem;
    margin: 0 auto;
    text-align: center;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 15px;
}

.main-description{
 display: block;
 width: 30%;
 margin: 0 auto;
 margin-top: 4rem;

  
}
.main-description p {
    color: #ffffff;
    opacity: .8;
    font-weight:bold;
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.5rem;

}



 button{
    display: block;
    margin: 0 auto;
    width: 10%;
    line-height: 2rem;
    border-radius: 5px;
    background-color: #63625c;
    color: #FFFFFF;
    box-shadow: 0 12px 6px rgb(158, 156, 147,.7);
    text-transform: uppercase;
    font-family:'Playfair Display', serif ;
    cursor: pointer;
    margin-top: 2rem;
    letter-spacing: 2px;
    box-shadow: inset 0 0 0 0 rgba(201, 201, 2, 0.623) ;
    transition: ease-out 0.3s;
}
button:hover{
    box-shadow: inset  300px 0 0 0  rgba(201, 201, 2, 0.623);
}

.section-two{
    min-height: 60vw;
    display: flex;
}
.side1{
display: flex;
justify-content: flex-start;
flex-direction: column;
margin-top: 3%;
}
.about{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3%;
}
.about h1{
    font-size: 2rem;
    text-align: center;
    font-family: Alegreya-Bold,AdobeInvisFont,MyriadPro-Regular;
    color: #56534C;
    margin-bottom: .5rem ;
    margin-top: 1.3rem;
}
.s2-description{
    display:block;
  text-align: center;
  line-height: 0;
   padding: 0;
   margin: 0;
   text-transform: uppercase;
   color: #b19539;
   width: 100%;
   font-size: .6rem;
   line-height: 0;
}
.s2-description-main{
    display: block;
    width: 50%;
   margin: 0 auto;
   margin-top: 7%;
   text-align: center;
   font-family: 'Alegreya', serif;
   margin-top: 3%;
}
.cook{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 5%;
}
.cook p{
    display: flex;
    justify-content: center;
}
.cook-img{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
}
.left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 1rem;
    border-top: 1px solid rgba(194, 126, 0, 0.897);
    border-bottom: 1px solid rgba(194, 126, 0, 0.897);

    
}
.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 1rem;
    border-top: 1px solid rgba(194, 126, 0, 0.897);
    border-bottom: 1px solid rgba(194, 126, 0, 0.897);
}

.cook-img > img{
    display: flex;
    justify-content: center;
    width: 102px;
    height: 102px;    
    object-fit: cover;
    object-position: 20% 10%;
    border-radius: 50%;
}
.sign{
    display: flex;
    justify-content: center;
    margin: 5%;
    font-family: 'Dancing Script', cursive;
    font-size: 1.5rem;
    text-align: center;
}
.q1{
    display: flex;
    justify-content: flex-start;
    top: 0;
    left: 0;
}
.q2{
    display: flex;
    align-items: flex-end;
    top: 0;
    right: 0;
}
.gallery{
    display: flex;
    position: relative;
    flex-direction: column;
     width: 100%;
   justify-content: center;
   align-items: center;
   margin: 0 1rem;
   margin-bottom: 8%;
   
}
.row{
    display: flex;
    width: 100%;
}

.row > img {
    display: block;
    width: calc(80% / 2);
    height: 200px;
    padding: .5rem .8rem;
    outline: 2px solid #fff;
    outline-offset: -12px;
    padding: 0 .5rem;
}
.gallery .watermark{
  
    position: absolute;
    top: 50%;
    left: 0;
    right: 15%;
    margin: auto;
    transform: translateY(-50%);
    max-width: 15%;
    text-align: center;
    text-transform: uppercase;
    color: rgb(204, 136, 10);
    font-weight: bold;
    font-size: 1.5rem;
    background-color: #fff;
    opacity: .8;
    border-radius: 50%;
    padding: 4rem 1.5rem;
    z-index: 1;
}





/* TELEFON */
@media screen and  (max-width:480px) {
    header{
        min-height: 150vw;
    }
    .logo{
        margin-top: 8px;
    }
    .navbar{
        height: 18vw;
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle_button{
        display: flex;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    .nav-links ul{
        width: 100%;
        flex-direction: column;   
        margin-top: 10px;
    }
    .nav-links li a{
        padding: .3rem 1rem; 
    }
    .nav-links li{
        text-align: center;
    }
    .nav-links.active{
        display: flex;
        top: 0;
        height: 50vw;
        background-color: #56534C;
    }
    .section-one{
        overflow-x: hidden;
        width: 100%;
        top: 40%;
    }
   .main-caption{
       width: 100%;
       font-size: 2.5rem;
       letter-spacing: 0;
      text-align: center;
   }
   .main-description{
       width: 60%;
       margin-top: 1rem;
       
   }
   .main-description p{
       display: block;
       width: 100%;
       margin: 0;
       padding: 0;
       line-height: 1.2rem;
       font-size: 1.2rem;
      margin: 10px 0;
   }
   button{
       width: 35%;
       border-radius: 10px;
   
       
   }
   .section-two{
       min-height: 120vw;
   }

  .icons{
      display: none;
  }
 .hide{
     visibility: hidden;
 }


 .section-two{
     justify-content: center;
     flex-direction: column;
 }
 .about{
     justify-content: center;
 }
 .side1{
     display: flex;
     justify-content: flex-start;
     flex-direction: column;
     
 }
 .s2-description{
     font-size: .7rem;
 }
 .s2-description-main{
     margin-top: 10%;
     width: 70%;
}
 .cook{
     justify-content: center;
     margin-top: 10%;
 }
.gallery{
    margin:0 1rem;
}

.gallery .watermark{
    max-width: 25%;
}  
  
}
/* TABLET */
@media screen  and (min-width:481px) and (max-width:768px)  {
   
    header{
        min-height: 100vw;
    }
    .navbar{
        height: 12vw;
        width: 100%;
    }
    .nav-links li a{
        font-size: 1.3rem;
        margin-right: 5px;
    }
    .nav-links{
        width: 100%;
    }
    .icons{
        display: none;
    }
    .section-one{
        top: 50%;
        
    }
    .about{
        margin-top: 40%;
    }
    .main-caption{
        width: 100%;
        letter-spacing: 3px;
    }
    .main-description{
        width: 50%;
        margin-top: 2rem;
    }
    .main-description p{
       line-height: 1.7rem;
       text-align: center;
       font-size: 1.5rem ;
        width: 100%;
    }
    button{
        width: 25%;
        line-height: 2.5rem;
        border-radius: 10px;
    }
    .section-two{
        justify-content: center;
        flex-direction: column;
        min-height: 150vw;
    }
    .about{
        justify-content: center;
        margin-top: 0;

    }
    .side1{
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        
    }
    .s2-description{
        font-size: .7rem;
    }
    .s2-description-main{
        margin-top: 10%;
        width: 70%;
   }
    .cook{
        justify-content: center;
        margin-top: 10%;
    }
   .gallery{
       margin:0 1rem;
   }
   .gallery .watermark{
       width: 25%;
       right: 3%;
   }
   .gallery .row{
       justify-content: center;
   }
}
 /* 768px do 1150px */
 @media screen and (min-width:768px) and (max-width:1150px)  {
    header{
        min-height: 100vw;
    }
    button{
        width: 15%;
    }
    .gallery .watermark{
        
        max-width: 30%
    }
    
}
