
@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans&family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
.logo{
    font-family: 'Dancing Script', cursive;
    color: #ffff;
    letter-spacing: 3px;
    font-size: 2rem;
    margin-left: 5%;
    text-decoration: none;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #56534C;
    height: 6vw;
    opacity: .8;
}

.nav-links{
    display: flex;
    width: 100%;
}
.nav-links ul{
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    padding: 0;
    
}

.nav-links li{
    list-style-type: none;
}
.nav-links a{
    text-decoration: none;
    color: white;
    font-family: 'Alegreya', serif;
    font-size: 1.2rem;
    padding: 1rem;
    margin: .5rem 1rem;
    display: block;

}
.nav-links a:hover{
    background-color: rgba(201, 201, 2, 0.623);
}
.toggle_button{
    position: absolute;
    display: none;
    top: 1.4rem;
    right: 1.5rem;
    flex-direction: column;
    justify-content: space-between;
    width:1.9rem;
    height: 1.3rem;
}
.toggle_button .bar{
    height: 3px;
    width: 100%;
    background-color: #ffff;
    border-radius: 10px;
}
.icons{
    display: flex;
    margin-right: 10%;
   
}
.icons a i{
    color: #fff;
    padding: 0 1rem;
    display: flex;
    justify-content:center;
    align-items: center; 
   
}


/* CONTENT OF PAGE */

 main{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.changing-img{
    display: flex;
    width: 100%;
    
}
.changing-img img{
    width: 100%;
  height: auto;
    
}
.container .heading{
 
    text-align: center;
    font-family: Alegreya-Bold,AdobeInvisFont,MyriadPro-Regular;
    color: #56534C;
   
}
.container .desc{
  display:block;
  text-align: center;
  line-height: 0;
   padding: 0;
   margin: 0;
   text-transform: uppercase;
   color: #b19539;
   width: 100%;
}
.container .about_us{
    display: flex;
    width: 100%;
    font-family: 'Playfair Display', serif; 
}
.about_us p{
    text-align: center;
    margin: 1rem 1rem;
}


.cook-img {
    width: 102px;
    height: 102px;
   object-fit: cover;
   display: block;
   margin: 0 auto;
}
.cook-img > img{
  
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 20% 10%;
    border-radius: 50%;
    
}
section p{
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Playfair Display', serif; 
}



@media screen and  (max-width:480px) {
    .logo{
        margin-top: 8px;
    }
    .navbar{
        height: 18vw;
        flex-direction: column;
        align-items: flex-start;
    }
    .toggle_button{
        display: flex;
    }
    .nav-links{
        display: none;
        width: 100%;
    }
    .nav-links ul{
        width: 100%;
        flex-direction: column;   
        margin-top: 10px;
    }
    .nav-links li a{
        padding: .3rem 1rem; 
    }
    .nav-links li{
        text-align: center;
    }
    .nav-links.active{
        display: flex;
        top: 0;
        background-color: #56534C;
    }
 .icons{
      display: none;
  }

  .hide-image{
    visibility: hidden;
}
}
@media screen  and (min-width:481px) and (max-width:768px)  {
    .navbar{
        height: 12vw;
        width: 100%;
    }
    .nav-links li a{
        font-size: 1.3rem;
        margin-right: 5px;
    }
    .nav-links{
        width: 100%;
    }
    .icons{
        display: none;
    }
}